AZURE_SQL_CONNECTION_STRING="Driver={ODBC Driver 18 for SQL Server};Server=tcp:onlinesportsequipmentrental.database.windows.net,1433;Database=online_sports_equipment_rental;Uid=CloudSAfafb6878;Pwd={your_password};Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;"